main h2 {
font-size: 22px;
font-family: Arial, Helvetica, sans-serif;
color:rgb(14, 139, 189);
}



form label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  color: rgb(74, 84, 180);
  font-family: arial;
}

form input[type=text] {
  color: rgb(77, 0, 165);
  font-size: 16px;
  margin-bottom: 20px;
}


form textarea {
  height: 4.75rem;
  width: 100%;
  color:  rgb(77, 0, 165);
  font-size: 16px;
  margin-bottom: 20px;
}

label textarea user-message {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
  color: rgb(74, 180, 175);
  font-family: arial;
}



button {
  padding: 10px;
  color:aqua;
  border-radius: 2px;
  background-color: #000;
  
}


main img {
  width: 100%;
}

/* Contact Form - Image */

.contact-image {
  border: 1px solid #ababab;
  border-radius: 8px;
}

/* Groups & Items  (Mobile First) */

.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  margin: 10px;
}

/* ---  (Desktop) Groups & Items --- */

@media all and (min-width: 800px) {
  section {
    padding: 0 10%;
  }
  .group {
    flex-direction: row;
  }
}

/* ---  Contact Form Design --- */

form {
  padding-right: 6px;
  /* Fixed small sizing issue on the right */
}

form input, 
form textarea {
  width: 100%;
  margin-bottom: 20px;
}

form textarea {
  height: 160px;
}